.pandaChatSidebarChat{
    display: flex;
    align-items: center;
    padding: 20px;
    cursor: pointer;
    border: 1px solid #f6f6f6;
}

.pandaChatSidebarChat__link{
    text-decoration: none !important;
    color: black;
}

.pandaChatSidebarChat:hover{
    background-color: #ebebeb;
}

.pandaChatSidebarChat__info > h2{
    font-size: 16px;
    
    width: fit-content;
}

.pandaChatSidebarChat__info > p{
    font-size: 14px;
    width: fit-content;
}

.pandaChatSidebarChat__info{
    margin-left: 15px;
}

