.search__inputs{
    display: flex;
    align-items: center;
    border: 1px solid gray;
    border-radius: 999px;
    padding: 5px 10px;
    width: 75vw;
    max-width: 560px;
    margin: 0 auto;
    margin-top: 40px;
}

.search__input{
    flex: 1;
    padding: 10px 20px;
    font-size: medium;
    border: none;
    background: #d2d3d5;

}

.search__input:focus{
    outline: none;
}

.search__icon{
    cursor: pointer;
}


.Search{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;

} 
.Search .MuiButton-outlined{
    display: none;
}