*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --background: #d2d3d5;
}

body {

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  background: var(--background);

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media (max-width: 550px){
  .weather__time{
    display: none;
  }

  .searchpage__topCurrencyAmount,
  .text{
    font-size: 14px;
  }

}

p{
  margin-bottom: 0;
}